.cards-container {
  margin: 0 auto;
  padding: 2rem;
  /* border: 1px solid salmon; */
  display: flex;
  width: 400px;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 1rem;
}

.card-item {
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  /* width: 280px; */
  height: 380px;
  padding: 1rem;

  gap: 8px;
}
.image-container {
  width: 200px;

  /* height: 100%; */
  /* object-fit: cover; */
}
.image-style {
  object-fit: cover;
}
