*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "abigate", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  line-height: calc(3rem * 1.5);
}

nav {
  display: flex;
  padding: 1em;
  height: 5em;
  gap: 1em;
  background-color: antiquewhite;
  justify-content: center;
}
footer {
  display: flex;
  padding: 1em;
  gap: 1em;
  position: static;
  bottom: 0;
}

a {
  display: inline-flex;
  text-decoration: none;
  font-weight: 700;
  color: #242424;
  justify-content: center;
  align-items: center;

  border: 1px solid #242424;
  border-radius: 50px;
  min-width: 180px;
  height: 3em;
  padding: 1em;
  margin-top: 0px;
  transition: 1px ease;
}
a:hover {
  text-decoration: underline;
}

button {
  padding: 0.8rem;
  border: 2px solid rgb(12, 143, 187);
  background-color: #fafafa;
  margin: 0.5rem;

  width: 100%;
  border-radius: 6px;
  font-weight: 700;
  color: rgb(12, 143, 187);
}
button:hover {
  cursor: pointer;
  color: #fafafa;
  background-color: rgb(12, 143, 187);
}

li {
  list-style: none;
}
